* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.main_grid {
  display: grid;
  grid-template-rows: 400px auto auto auto auto 400px; }

.o_tagline {
  position: relative;
  grid-row: 1; }

.nav_space {
  height: 55px;
  position: fixed;
  z-index: 2000;
  width: 100%; }

.logo {
  background: url("../images/logo_neg1.svg") center no-repeat;
  height: 80px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8); }

.drop_btn {
  right: 15px;
  top: 15px;
  position: absolute; }
  .drop_btn :hover {
    cursor: pointer; }

.fa-bars {
  color: white; }

.hide_menu {
  display: none;
  height: 400px;
  width: 100%; }

.menu_container {
  height: 400px;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: space-evenly;
  flex-direction: column;
  display: flex; }
  .menu_container a {
    color: white;
    text-decoration: none;
    font-family: calibri, sans-serif;
    font-weight: 400; }

.menu_logo {
  background: url("../images/logo1.svg") center no-repeat;
  display: none; }

.menu1, .menu2, .menu3, .menu4 {
  margin: auto; }

.o_back {
  background: url(../images/yellow_back.svg) center no-repeat;
  height: 100%;
  background-size: cover; }

.o_grafik {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: auto;
  bottom: -2px; }

.o_text1 {
  position: relative;
  background-color: #07488e;
  color: white;
  font-family: calibri, sans-serif; }

.mid_grafik {
  margin: -3px 0; }

.o_text2 {
  background-color: #ffce45; }

.foot_grafik {
  margin: -3px 0; }

footer {
  background-color: #253574;
  display: grid;
  grid-template-rows: 200px 200px;
  font-family: calibri, sans-serif; }

.f_info {
  grid-row: 2;
  grid-column: 1; }

.f_logo {
  background: url("../images/logo_neg1.svg") center no-repeat;
  background-size: contain;
  height: 100px;
  width: 100%; }

.f_kontakt {
  display: flex;
  justify-content: center;
  text-align: center; }
  .f_kontakt p {
    color: white; }

.f_news {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: white; }

.f_nyhed {
  display: flex;
  justify-content: center; }

.f_follow {
  margin: 0 auto;
  font-family: calibri, sans-serif; }

.f_some {
  font-size: 35pt;
  margin: 0 auto; }
  .f_some a {
    color: white; }

.f_button {
  height: 100%;
  width: 100px;
  margin-left: 10px;
  background-color: #ffce45;
  border-width: 0px; }

.p_margin {
  margin: 10px 30px; }
  .p_margin .fa {
    margin-top: 5px; }

.p_overnat_text a {
  color: white;
  font-weight: bold; }

.p_pris, .p_overnat, .p_mad, .p_trans {
  justify-content: space-between;
  display: flex; }

.p_pris_text, .p_overnat_text, .p_mad_text, .p_trans_text {
  display: none;
  margin-bottom: 50px; }

.tg {
  margin-top: 25px; }

.p_odsherred, .kfum, .nykobing {
  height: 150px; }

.p_odsherred {
  background: url("../images/odsherred.jpg") no-repeat center;
  background-size: contain; }

.kfum {
  background: url("../images/kfum.jpg") no-repeat center;
  background-size: contain; }

.nykobing {
  background: url("../images/nykobing.jpg") no-repeat center;
  background-size: contain; }

.p_partner {
  margin-bottom: 30px; }

.p_partner_pic {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%; }

.m_tag {
  margin: 0 15%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }

.m_pic1, .m_pic2, .m_pic3, .m_pic4, .a_pic1, .a_pic2 {
  width: 100%;
  height: 200px; }

.m_pic1 {
  background: url("../images/mic1920.jpg") no-repeat center;
  background-size: cover; }

.m_pic2 {
  background: url("../images/guitar1920.jpg") no-repeat center;
  background-size: cover; }

.m_pic3 {
  background: url("../images/guitar1920.jpg") no-repeat center;
  background-size: cover; }

.m_pic4 {
  background: url("../images/piano1920.jpg") no-repeat center;
  background-size: cover; }

.m_text_pic1, .m_text_pic2, .m_text_pic3, .m_text_pic4 {
  margin: 10px 0; }

.m_artist_text, .o_hvem_text, .o_kontakt_info, .o_find_info {
  margin: 30px 0; }

.a_flex {
  display: flex;
  justify-content: center; }

.a_born {
  margin-right: 30px; }

.a_voksne {
  margin-left: 30px; }

.a_pic1 {
  background: url("../images/kid1920.jpg") no-repeat center;
  background-size: cover; }

.a_pic2 {
  background: url("../images/active1920.jpg") no-repeat center;
  background-size: cover; }

@media screen and (min-width: 768px) {
  .main_grid {
    display: grid;
    grid-template-rows: 500px auto auto auto auto 400px; }

  .hide_menu {
    display: block; }

  .nav_space {
    position: absolute; }

  .menu_container {
    position: relative;
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
    width: 100%;
    height: auto;
    background-color: transparent; }
    .menu_container a {
      color: black; }

  .logo {
    display: none; }

  .drop_btn {
    display: none; }

  .menu_logo {
    background: url(../images/logo1.svg) center no-repeat;
    display: block;
    height: 75px;
    width: 330px;
    margin-top: 10px; }

  .drop_btn {
    display: none; }

  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }

  .f_info {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .f_news {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white; }

  .f_follow, .f_some, .f_nyhed {
    margin: 10px auto; }

  .p_margin {
    margin: 10px 60px; }

  .p_partner_pic {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; }

  .m_tag {
    margin: 0 20%;
    top: 40%; }

  .m_text_pic1, .m_text_pic2, .m_text_pic3, .m_text_pic4, .a_text_pic1, .a_text_pic2 {
    margin: 30px 0;
    display: flex; }

  .m_text_pic1 {
    flex-direction: row; }

  .m_text_pic3 {
    flex-direction: row-reverse; }

  .m_scene_text1 {
    margin-right: 20px; }

  .m_scene_text3 {
    margin-left: 20px; }

  .a_born_text1 {
    margin-right: 20px; }

  .a_voksne_text2 {
    margin-left: 20px; }

  .a_text_pic1 {
    flex-direction: row; }

  .a_text_pic2 {
    flex-direction: row-reverse; } }
@media screen and (min-width: 1200px) {
  .main_grid {
    display: grid;
    grid-template-rows: 650px auto auto auto auto 400px; }

  .p_margin {
    margin: 10px 100px; } }
@media screen and (min-width: 1500px) {
  .main_grid {
    display: grid;
    grid-template-rows: 750px auto auto auto auto 400px; } }

/*# sourceMappingURL=styles.css.map */
